/* Media tablets */ 


@media (min-width: 768px) {
    body {
        font-size: 18px; 
        padding: 20px; 
    }

    header {
        flex-direction: column;
    }

    .logodoom {
        width: 150px;

    }
}

@media  ( max-width: 882px) {

    header {
        font-size: 16px;
        padding: 15px 30px;
      }
    
      header nav {
        flex-direction: column;
        gap: 15px;
      }
}
