/*imports*/
.logocontactos {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  width: 50px;
  border-radius: 30px;
}

footer {
  background-color: rgba(177, 22, 22, 0.342);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 5px;
  margin: 15px;
}

/*header*/
header {
  background-color: black;
  display: flex;
  min-width: 70px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 2px;
}
header nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}
header nav ul li {
  margin: 2px;
}
header nav ul li a {
  text-decoration: none;
  display: inline;
  margin-left: 5px;
  color: rgb(9, 49, 9);
}

/* RESET */
* {
  margin: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 0, 0);
  font-size: 20px;
  background-color: rgb(0, 0, 0);
}

* h1 {
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
}

* h2 {
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

p {
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}

* video {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

* .logodoom {
  max-width: 100%;
  height: auto;
}

body {
  background-color: black;
}

/* media desktop */
@media (min-width: 1024px) {
  .logo img {
    width: 250px;
  }
  video {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
/*media celular */
@media (max-width: 480px) {
  .logo img {
    width: 100px;
  }
  header {
    flex-direction: column;
  }
}
/* Media tablets */
@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  header ul li {
    margin: 10px 0;
  }
}
/* Media tablets */
@media (min-width: 768px) {
  body {
    font-size: 18px;
    padding: 20px;
  }
  header {
    flex-direction: column;
  }
  .logodoom {
    width: 150px;
  }
}
@media (max-width: 882px) {
  header {
    font-size: 16px;
    padding: 15px 30px;
  }
  header nav {
    flex-direction: column;
    gap: 15px;
  }
}
/*Historia doom*/
.section1 section {
  background-image: linear-gradient(rgb(71, 10, 10), rgb(158, 8, 8));
  display: flex;
  flex-direction: column;
}
.section1 section h1 {
  display: flex;
  text-decoration: solid;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(59, 8, 8), rgb(94, 8, 8), rgb(145, 6, 6), rgba(124, 45, 9, 0.842), rgb(230, 9, 9), rgb(250, 71, 0), rgb(230, 189, 6));
}
.section1 section p {
  display: flex;
  margin: 5px;
}
.section1 section p:hover {
  transform: scale(120px, 120px);
}
.section1 section p {
  font-size: 10px;
  color: red;
}
.section1 section img {
  width: 10rem;
  height: auto;
}

.section3 span {
  color: red;
}

/*# sourceMappingURL=styles.css.map */
