$primary-color:rgb(255, 255, 255); 
$size-fuente:25px;
$size-fuente2:20px;
$size-fuente3:15px;
$fuente1:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$colorN1: rgb(219, 68, 68) ;
$colorN2:rgb(235, 213, 213);
