@import "../utilities/variables";

/*Historia doom*/ 

.section1{
    section{ 
    background-image: linear-gradient(rgb(71, 10, 10), rgb(158, 8, 8));
    display: flex;
    flex-direction: column;
    
    h1 { display: flex;
        text-decoration: solid;
        background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(59, 8, 8), rgb(94, 8, 8), rgb(145, 6, 6),rgba(124, 45, 9, 0.842), rgb(230, 9, 9),rgb(250, 71, 0), rgb(230, 189, 6) );
    }

    p { display: flex;
        margin: 5px;
        }
    }

    p { 
        font-size: 10px;
        color:$colorN1; 
    }

    img {width: 10rem;
        height: auto;
    }
}
    




.section3 {span{
    color:red;} 
}
