/* RESET */
* {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 16px;
    background-color: rgb(33, 56, 35);

    h1 {
        color: black;
    }
    
    h2 {
        color: black;
    }
    
    video {
        max-width: 100%;
        height: auto;
    }

    .logodoom { max-width: 100%;
        height: auto;
    
    }

 }