@import "../utilities/variables";


/* RESET */
* {
  margin: 10px;
  padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 0);
    font-size: 20px;
    background-color:rgb(0, 0, 0);
     
  }


  * h1 {
    color: $primary-color;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
  }


  * h2 {
    color:$primary-color;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }


  p {
      color: $primary-color;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 15px;
  }


  * video {
    max-width: 100%;
    height: auto;
      display: flex;
      justify-content: center;
      align-items: center;         
      height: 100vh;         
      margin: 0;            

  }



  * .logodoom {
    max-width: 100%;
    height: auto;
  }

  body { color: black;}


  